// Include Libs     ============================================ 

script(src="js/jquery-3.4.1.min.js")

// Include Libs End       ============================================ 




// Scripts Init Plugins & Core START     ============================================ 
<!-- build:jsInit -->
script(src="js/script.init.js")
<!-- endbuild -->
<!-- build:jsCore -->
script(src="js/script.core.js")
<!-- endbuild -->

// Scripts Init Plugins & Core END       ============================================ 